{% extends "base.twig" %}

{% set what = post.get_field('what')  %}
{% set services = post.get_field('services')  %}
{% set why = post.get_field('why')  %}
{% set quote = post.get_field('quote')  %}
{% set industries = post.get_field('industries')  %}

{% block content %}

    <section class="homepage-banner">
        {{ function('do_shortcode', '[hbupro_banner id="46"]') }}
    </section>

    <main class="mb-5">

        <div class="hp__what">

            <div class="container-fluid max-width">

                <div class="row">

                    <div class="col-sm">
                        <p class="sub-title">{{ what.sub_title }}</p>
                        <h3 class="section-title">{{ what.title }}</h3>
                        <p>{{ what.content }}</p>
                        <a href="#" class="mt-4 mb-5 red__button btn btn-primary">Contact Us</a>
                    </div>

                    <div class="col-sm">
                        <img src="{{ what.image.url }}" class="img-fluid" />
                    </div>

                </div>

            </div>

        </div>

        <div class="hp__services">

            <div class="container-fluid max-width">

                <div class="row">

                    {% for item in services.service %}

                        <div class="col-md col-md-3 idx_{{ loop.index0 }}">
                            <div class="img__container">
                                <img src="{{ item.image.url }}" class="img-fluid" />
                                <h4>{{ item.text }}</h4>
                            </div>
                        </div>

                        {% if loop.index0 == 1 %}

                            <div class="col-md col-md-6 idx_7">
                                <div class="content">
                                    <p class="mb-0 sub-title__white">{{ services.sub_title }}</p>
                                    <h2 class="section-title__white">{{ services.title }}</h2>
                                </div>
                            </div>

                        {% endif %}

                    {%  endfor %}

                </div>

            </div>

        </div>

        <div class="container-fluid max-width">

            <aside class="row">

                <div class="col-12">

                    <div class="row">

                        <section class="col-sm">
                            <h3 class="text-left section-title mt-3 mt-lg-5 mb-2">{{ why.title }}</h3>
                            <div>{{ why.content }}</div>
                        </section>

                        <section class="col-sm">
                            {#
                            {{ function('do_shortcode', quote) }}
                            #}
                        </section>

                    </div>

                    <hr class="sep" />

                </div>

                <section class="col-12">

                    <div class="row">

                        <div class="col-12">
                            <h2 class="text-lg-center section-title my-5">Industries we cover</h2>
                        </div>

                    </div>

                    <div class="row">

                        {% for item in industries %}

                            <div class="col-md industry__item">
                                <div>
                                    <img class="img-fluid" src="{{ item.image.url }}" alt="Image of {{ item.title }}" />
                                    <h3 class="title">{{ item.title }}</h3>
                                    <div class="content">{{ item.content }}</div>
                                </div>
                                <a href="#" class="red__button btn btn-primary mt-4">Learn More</a>
                            </div>

                        {%  endfor %}

                    </div>

                </section>

            </aside>

        </div>

    </main>

{% endblock %}
