<footer class="footer">
    <div class="container-fluid max-width">
        <div class="row">
            <div class="col-12">
                <div class="footer__inner">

                    {% if footerMenu.items %}
                        <div class="footer__inner__section">
                            <h3 class="mb-0">
                                <a class="footer__inner__section--title" data-toggle="collapse" href="#footerLinks" role="button" aria-expanded="false" aria-controls="footerLinks">
                                    <span>Pages</span>
                                </a>
                            </h3>
                            <div class="collapse d-lg-flex" id="footerLinks">
                                <ul class="footer__footer-links my-0">
                                    {% for footerItem in footerMenu.items %}
                                        <li><a href="{{ footerItem.link }}">{{ footerItem.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    <div class="footer__inner__section">
                        <h3 class="mb-0">
                            <a class="footer__inner__section--title" data-toggle="collapse" href="#footerLinks2" role="button" aria-expanded="false" aria-controls="footerLinks">
                                <span>Services</span>
                            </a>
                        </h3>
                        <div class="collapse d-lg-flex" id="footerLinks2">
                            <ul class="footer__footer-links my-0">
                                <li><a href="#">Bespoke Vessels</a></li>
                                <li><a href="#">Vacuum Chambers</a></li>
                                <li><a href="#">Cryogenic Vessels</a></li>
                                <li><a href="#">Weld Tybes &amp; Cylinders</a></li>
                                <li><a href="#">Specialist Instruments</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer__inner__section company-info">
                        <h3 class="d-none d-lg-block">Contact</h3>
                        {#
                        {% if options.company_name %}
                            <h4>{{ options.company_name }}</h4>
                        {% endif %}
                        #}
                        <address class="mb-0">
                            {{ options.address }}
                        </address>
                        {% if options.phone_number %}
                            <a href="tel:{{ options.phone_number }}">{{ options.phone_number }}</a>
                        {% endif %}
                        {% if options.email_address %}
                            <a href="mailto:{{ options.email_address }}">{{ options.email_address }}</a>
                        {% endif %}
                        <a href="#">Privacy Policy Announcements</a>
                    </div>

                    <div class="footer__inner__section">
                        <a class="footer__logo" href="/" rel="home">
                            <img src="{{ site.theme.link }}/static/images/ami--logo.png"/>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="footer__sub-footer">
        <div class="container-fluid max-width">
            <div class="row">
                <div class="col-12">
                    <p>{{ "now"|date('Y') }} Tiverton Fabrication Limited | Website Design by <a target="_blank" class="mx-1" href="https://www.amiweb.co.uk/">AMI Website Design</a></p>
                </div>
            </div>
        </div>
    </div>

</footer>

